<#
    Variable examples:
    data = {
		'2001:1320::/32': {
			'origins': [27733]
		},
		'2001:1350::/32': {
			'origins': [17399, 7908]
		},
		'2001:1380::/32': {
			'origins': [0]
		}
	}
#>

function is_roa_covered_prefix()
prefix set roas;
{
     roas = [
%% for prefix in data
<%= prefix %>+
<%- if not loop.last -%>,<%- endif -%>
<%= "\n        " %>
%% endfor
    ];

    if net ~ roas then {
        return true;
    }
    else return false;
}

function complies_with_roa()
{
%% for prefix in data
    if net = <%= prefix %> then {
%%     for origin in data[prefix]["origins"]
%%         if origin == 0
        return false;
%%         else
        if bgp_path.last = <%= origin %> then return true;
%%         endif
%%     endfor
     }
%% endfor
     return false;
}

/*
filter check_roa
{
    if is_roa_covered_prefix() then {
        if complies_with_roa() then {
            accept;
        }
        reject;
    }
}
*/
