log syslog all;

router id <%= router_id %>;

roa table rpki {
}

protocol kernel {
    scan time 20;
    device routes;
<% if hostname == "eunetworks-2.router.nl.coloclue.net" %>
    export filter {
        if proto = "blackhole1" then reject;
        accept;
    };
<% else %>
    export all;
<% endif %>
}

protocol device {
    scan time 2;
}

include "interfaces.conf";

define BOGON_ASNS = [0, 23456, 64496..131071, 4200000000..4294967295];
